<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Photos</title>
    <th:block th:replace="fragments/resources :: head"></th:block>
</head>
<body>
<th:block th:replace="fragments/navbar :: navbar"></th:block>
<th:block th:replace="fragments/sidenav :: sidenav"></th:block>
<div th:if="${alert}">
    <th:block th:replace="fragments/alert :: alert(${alert.typeAlertMessage}, ${alert.textMessage})"></th:block>
</div>
<h1 class="m-5">All Photos</h1>
<div class="container-lg">
    <div class="row g-3 my-3">
        <div class="col-12 col-sm-6 col-lg-3" th:each="img : ${list}">
            <a th:href="@{/photos/{id}(id=${img.id})}" th:title="${img.title}">
                <img class="img-fluid" th:alt="${img.title}" th:src="${img.url}">
            </a>
        </div>
    </div>
</div>
</body>
</html>



