<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Photos</title>
    <th:block th:replace="fragments/resources :: head"></th:block>
</head>
<body>
<th:block th:replace="fragments/navbar :: navbar"></th:block>
<th:block th:replace="fragments/sidenav :: sidenav"></th:block>
<div class="m-4">
    <a class="btn btn-primary rounded-circle" href="/photos">
        <i class="fa-sharp fa-solid fa-arrow-left"></i>
    </a>
</div>
<h1 class="m-3 text-center" th:text="${photo.title}"></h1>
<div class="container">
    <div class="row justify-content-center mb-3">
        <div class="col-12 col-lg-8">
            <img class="w-100 img-fluid" th:alt="${photo.title}" th:src="${photo.url}">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <p th:text="${photo.description}"></p>
        </div>
    </div>
    <div class="text-center">
        <a class="text-decoration-none" th:href="@{/photos/edit/{id}(id=${photo.id})}">
            <button class="btn btn-primary">
                Edit
            </button>
        </a>
        <button class="btn btn-danger ms-3" data-bs-target="#exampleModal" data-bs-toggle="modal" type="button">
            Delete
        </button>
    </div>


    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Danger</h1>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                    Sure you want to delete <span th:text="${photo.title}"></span>?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-dismiss="modal" type="button">Close</button>
                    <a th:href="@{/photos/delete/{id}(id=${photo.id})}">
                        <button class="btn btn-danger" type="button">Delete</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
