<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="sidenav">
    <div aria-labelledby="offcanvasExampleLabel" class="offcanvas offcanvas-start" id="offcanvasExample" tabindex="-1">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
            <button aria-label="Close" class="btn-close" data-bs-dismiss="offcanvas" type="button"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                <a href="/">Home</a>
            </div>
            <h4>Photos:</h4>
            <div>
                <a href="/photos">All Photos</a>
            </div>
            <div>
                <a href="/photos/create">Create photo</a>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>