<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Home</title>
    <th:block th:replace="fragments/resources :: head"></th:block>
</head>
<body>
<th:block th:replace="fragments/navbar :: navbar"></th:block>
<th:block th:replace="fragments/sidenav :: sidenav"></th:block>
<div class="text-center">
    <h1 class="my-3 py-5">Home Page</h1>
</div>
<div class="row justify-content-center p-3">
    <div class="col-12 col-lg-4 mb-3">
        <a href="/photos">
            <button class="btn btn-primary d-block w-100" type="button">All photos</button>
        </a>
    </div>
    <div class="col-12 col-lg-4">
        <a href="/photos/create">
            <button class="btn btn-primary d-block w-100" type="button">Add new photo</button>
        </a>
    </div>
</div>
</body>
</html>
